.dark-theme, html[data-theme=dark] {
  /* Background & Borders */
  --ls-primary-background-color: #1f1f1f;
  --ls-secondary-background-color: #181818;
  --ls-tertiary-background-color: #2b2b2b;
  --ls-border-color: #2b2b2b;
 
  /* Main text color */

  
  /* Create button */
  --ls-create-button-color: #0078d4;
  --ls-create-button-color: #026ec1;
  --ls-create-button-color-sm: #0078d4;
  --ls-create-button-color-sm-focus: #026ec1;
  
  /* [[link]] text color */
  /*--ls-link-text-color: #4daafc;*/
  
  /* Headings */
  --ls-title-text-color: #569cd6;
  --ct-page-title-color: #569cd6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--ct-page-title-color);
}
