@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

:root {
  --ls-font-family: 'Lato', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.dark-theme, html[data-theme=dark] {
  /* Background & Borders */
  --ls-primary-background-color: #1f1f1f;
  --ls-secondary-background-color: #181818;
  --ls-tertiary-background-color: #2b2b2b;
  --ls-border-color: #2b2b2b;

  /* Main text color */
  --ls-primary-text-color: #cccccc;
  --ls-secondary-text-color: #6B995A;
  --ls-tertiary-text-color: #ffffff;

  /* Create button */
  --ls-create-button-color: #0078d4;
  --ls-create-button-color: #026ec1;
  --ls-create-button-color-sm: #0078d4;
  --ls-create-button-color-sm-focus: #026ec1;

  /* [[link]] text color */
  --ls-link-text-color: #4ec9b0;

  /* #tag text color  */
  --ls-tag-text-color: #ffffff;
  --dm-tag-background-color: #0078d4;

  /* block bullet color  */
  --ls-block-bullet-color: #c586c0;

  /* Inline code color  */
  --ls-page-inline-code-color: #9cdcfe;
  --dm-code-font-family:"Inconsolata", "MonoLisa", monospace;

  /* Sidebar */
  --dm-sidebar-item-active-color: #ffffff;
  --dm-sidebar-focus-border-color: #0078d4;

  /* Highlight colors */
  --ls-highlight-color-red: #f88070;
  --ls-highlight-color-yellow: #cca700;
  --ls-highlight-color-blue: #6796E6;
}

/* Sidebar */
.cp__menubar-repos {
  padding: 0;
}

.left-sidebar-inner a.item.active,
.left-sidebar-inner a.item:hover {
  color: var(--dm-sidebar-item-active-color);
  opacity: 1;
  border-left: 3px solid var(--dm-sidebar-focus-border-color);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.nav-header > div {
  border-top: 1px solid var(--ls-tertiary-background-color);
}

/* Headings & Title*/
:root {
  --dm-heading-color: #dcdcaa;
  --dm-page-title-font-size: 36px;
  --dm-page-title-line-height: 40px;
  --dm-page-title-font-weight: 100;
  --dm-page-title-font-style: normal;
  --dm-heading-font-weight: 300;
}

.ls-block :is(h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6) {
  color: var(--dm-heading-color);
  font-weight: var(--dm-heading-font-weight);
}

h1.title {
  font-size: var(--dm-page-title-font-size);
  font-weight: var(--dm-page-title-font-weight);
  line-height: var(--dm-page-title-line-height);
}

b, i {
  color: #ce9178;
}

/* Reference blocks  */
.references-blocks-item,
.block-properties {
  box-shadow: rgba(0, 0, 0, 0.36) 0px 0px 8px 2px;
}

/* Page properties  */
.block-properties {
  background-color: var(--ls-tertiary-background-color);
}

/* Tags  */
a.tag {
  color: var(--ls-tag-text-color);
  background-color: var(--dm-tag-background-color);
  padding: 2px 8px;
  border-radius: 14px;
}

/* Code */
:not(pre) > code {
  box-shadow: rgba(0, 0, 0, 0.36) 0px 0px 8px 2px;
  font-family: var(--dm-code-font-family);
  font-size: 16px;
}

.page-reference .bracket {
  opacity: 1;
}

/* Priority  */
a.priority {
  opacity: 1;
  font-size: 0px;
}

a.priority:hover {
  opacity: 1;
}

a.priority::before {
  font-family: 'tabler-icons';
  font-size: 14px;
  padding: 2px 2px;
  margin-right: 0px;
  border-radius: 4px;
  position: relative;
  color: var(--ls-tertiary-text-color);
  transition: background-color .5s;
}

a.priority[href="#/page/A" i]::before {
  content: "\ea66";
  background-color: var(--ls-highlight-color-red);
}

a.priority[href="#/page/A" i]:hover::before {
  background-color: #F44747;
}

a.priority[href="#/page/B" i]::before {
  content: "\ee87";
  background-color: var(--ls-highlight-color-yellow);
}

a.priority[href="#/page/B" i]:hover::before {
  background-color: #ffcc00;
}

a.priority[href="#/page/C" i]::before {
  content: "\ea5f";
  background-color: #6796E6;
}

a.priority[href="#/page/C" i]:hover::before {
  background-color: #3794ff;
}

/* Source code  */
.cm-s-lsradix .cm-keyword,
.cm-s-lsradix .cm-operator {
  color: #569cd6;
}

.cm-s-lsradix .cm-def {
  color: #dcdcaa;
}

.cm-s-lsradix .cm-variable {
  color: #4ec9b0;
}

.cm-s-lsradix .cm-variable-2 {
  color: #9cdcfe;
}

.cm-s-lsradix .cm-comment {
  font-style: normal;
  color: #6a9955;
}

.cm-s-lsradix .cm-string {
  color: #ce9178;
}
